/* 
* Japanese Relations At Queen's CSS 
*/

/* Whole Page Styling */

html {
    height: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
}

footer {
	min-height: 40px;
	color: white;
	background-color: #101010;
}

h1 {
	font-family: 'Six Caps', serif;
	font-size: 5em;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    max-width: 400px;
}

/* Logo Scaling */

.brand {
	float: left;
	left:0;
	top:0;
	max-height: 200px;
	max-width: 200px;
	border-radius: 25%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section Based Styling */

#landing {
	display: flex;
	align-items: center;
	justify-content: center;
}


#landing {
	width: 100%;
	height:100vh;
	position: relative;
}

div#landing h1 {
	color:#FFFFFF;
	font-family: 'Six Caps', sans-serif;
	font-size: 10em;
	margin: 0;
	text-align: center;
	text-shadow: 1px 2px 30px #050505;
}

#events hr, #landing hr {
	max-width: 800px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.off-colour {
	color:#BBD4DB;
}

#about, #contact {
	padding: 20px;
	background-color:#FFFFFF;
	font-color: black;
}

#about, #contact {
	min-height: 500px;
}

#about p {
	padding-top:50px;
	font-size: 1.5em
}

div#events h1{
	color: #FFFFFF;
}

/* Navigation Bar Styling */

.collapsed-navbar {
	background-color: transparent;
}

.navbar {
	background: #FFFFFF;
	min-height: 75px;
}

.navbar-toggle {
	padding:20px;
}

.navbar-brand {
	float: left;
}

.nav {
	padding: 10px;
	padding-top: 12px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #FFFFFF;
  text-decoration: none;
}

.nav-link {
	padding:0;
}

/* Navigation Anchor Off-Set Fix */

.anchor {
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

/* Parallax Scroll Properties */

.parallax-window {
    min-height: 100vh;
    background: transparent;
}

/* Hover.css Underline CSS */

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Contact Icon CSS */
#icon-section {
	padding-top:50px;
}

/* Media Queries */

@media (max-height: 700px) {
	
	body {
		padding-top: 30px;
	}

	div#landing h1 {
		font-size: 6em;
	}

	#about, #contact {
		min-height: 100vh;
	}

	#about p {
		font-size: 1.2em;
	}

	.brand {
		max-height: 100px;
		max-width: 100px;
		border-radius: 10%;
		float: none;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 1px 0 rgba(0, 0, 0, 0.19);
	}
}