/* 
* Japanese Relations At Queen's CSS 
*/

/* Whole Page Styling */

html {
    height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
}

footer {
	min-height: 40px;
	color: white;
	background-color: #101010;
}

h1 {
	font-family: 'Six Caps', sans-serif;
	font-size: 4em;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    max-width: 400px;
}

.row {
	max-width: 1280px;
	margin: 0 auto;
}

/* Logo Scaling */

.brand {
	float: left;
	left:0;
	top:0;
	max-height: 200px;
	max-width: 200px;
	border-radius: 25%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section Based Styling */

#landing {
	display: flex;
	align-items: center;
	justify-content: center;
}


#landing {
	width: 100%;
	height:100vh;
	position: relative;
}

div#landing h2{ 
    color:#FFFFFF;
	font-family: 'Six Caps', sans-serif;
	font-size: 5em;
	margin: 0;
	text-align: center;
	text-shadow: 1px 2px 30px #050505;
}

div#landing h1 {
	color:#FFFFFF;
	font-family: 'Six Caps', sans-serif;
	font-size: 10em;
	margin: 0;
	text-align: center;
	text-shadow: 1px 2px 30px #050505;
}

#events hr, #landing hr{
	max-width: 800px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.off-colour {
	color:#BBD4DB;
}

#about, #contact {
	padding: 20px;
	background-color:#FFFFFF;
	font-color: black;
}

#about, #contact {
	min-height: 500px;
}

#about p {
	padding-top:30px;
	font-size: 1.3em
}

div#events h1{
	color: #FFFFFF;
	margin: 0;
	text-align: center;
	text-shadow: 1px 2px 30px #050505;
	padding-top: 40px;
}

#events {
	min-height: 500px;
}

/* Info Box Section Styling */

.inner {
	background-color:white;
	padding: 10px;
	border: 1px solid #EEE;
	min-height: 250px;
	border-radius: 2%;
	-webkit-transition: 0.3s;
    transition: 0.3s;
}

.inner:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.info-box hr {
	border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
    max-width: 50px !important;
}

.info-section {
	padding-top: 30px;
	padding-bottom: 50px;
}

/* Navigation Bar Styling */

.collapsed-navbar {
	background-color: transparent;
}

.navbar {
	background: #FFFFFF;
	min-height: 75px;
	border-bottom: 1px solid #EEE;
}

.navbar-toggle {
	padding:20px;
}

.navbar-brand {
	float: left;
}

.nav {
	padding: 10px;
	padding-top: 12px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #FFFFFF;
  text-decoration: none;
}

.nav-link {
	padding:0;
}

/* Navigation Anchor Off-Set Fix */

.anchor {
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

/* Parallax Scroll Properties */

.parallax-window {
    min-height: 100vh;
    background: transparent;
}

/* Hover.css Underline CSS */

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Image Hovers (Mike Tricking) CSS */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

/* Contact Icon CSS */
#icon-section {
	padding-top:50px;
}

#contact a:link,
#contact a:visited {
  color: #007BB6;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

#contact a:active {
	color: #3b5998;
}

#contact a:hover {
  color: #3b5998;
}

/* Media Queries */

@media (max-height: 700px) {
	
	body {
		padding-top: 30px;
	}

	div#landing h1 {
		font-size: 6em;
	}

	#about, #events {
		min-height: 100vh;
	}

	#about p {
		font-size: 1.2em;
	}

	.brand {
		max-height: 100px;
		max-width: 100px;
		border-radius: 10%;
		float: none;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 1px 0 rgba(0, 0, 0, 0.19);
	}
}